.footer-distributed{
  background-color: #0b109f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 25px 20px;
  margin-top: 60px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}


.footer-distributed .footer-left{
  width: 40%;
}

.footer-logo {
  width: 70%;
  padding-top: 8%;
  margin-bottom: 8%;
  margin-left: 10%;
}

.footer-distributed {
  color:  #ffffff;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}



.footer-distributed .footer-center{
  width: 18%;
}

.phone {
  margin-top: 45px;
}

.location {
  margin-top: 45px
}
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed ion-icon{
  margin-top: 25px;
}

.footer-distributed .footer-icon a{
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.envelope {
  height: 27px !important;
  width: 27px !important;
  margin-right: 5px;
}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-right {
    align-self: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
.flex-column-fixed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: cen
}
.socialM {
  color: white;
  height: 50px;
  width: 50px;
}


.socialM a {
  position: absolute;
}
a {
  z-index: 1
}
a .socialM:hover {
  opacity: 0.5;
}


.socialMH2 {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}

  /* Footer structure.

              <footer class="footer-distributed">

                <div class="footer-left">

                  <img src="images/logo-02.png" class="footer-logo">

                </div>
          
                <div class="footer-center">
                
                    <div class="footer-nav">
                        <a href=""><h2> Inicio </h2></a>
                        <br>
                        <a href=""><h2> Inmuebles </h2></a>
                        <br>
                        <a href=""><h2> Agentes </h2></a>
                        <br>
                        <a href=""><h2> Nosotros </h2></a>
                    </div>
                </div>
                <div class="footer-center">
                    <div class="flex-column">
                      <u><h3>Siguenos</h3></u>
                      <div>
                        <a href="#"><ion-icon name="logo-instagram" class="socialM"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-facebook" class="socialM"></ion-icon></a>
                      </div>
                    </div>
                </div>

                <div class="footer-right">
                  <u>
                  <h3>
                    Contactanos
                  </h3>
                  </u>
      
                  <br/>
                  <div class="socialMH2">
                  <div class="flex-column">
                      <img src="images/Envelope-icon.png" class="footer-icon envelope">
                    
                    <br/>

                    <img src="images/phone-icon.png" class="footer-icon phone">
                  
                  <br/>
          
                    <img src="images/location-icon.png" class="footer-icon location">

                  </div>
                  <div class="flex-column">
                      <h6>contacto@keystoneinmobiliaria.com</h6>

                      <br>

                      <div class="flex-column phone-n">
                          <h3>0261 7912068</h3>
                          <h3>0261 7933842</h3>
                          <h3>0261 9662206</h3>
                        </div>

                        <br>

                        <p><span>Hotel del lago, avenida El Milagro, </span>Zulia - Maracaibo</p>



                  </div>
                </div>

          
                </div>
                <p class="footer-company-name">Todos los derechos reservados &copy; Keystone Inmobiliaria 2019</p>
          
              </footer>
  