@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600|Catamaran:300,500,600,700,800,900");

@font-face {
  font-family: "haymakerregular";
  src: url("../../fonts/haymaker-webfont.eot");
  src: url("../../fonts/haymaker-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/haymaker-webfont.woff") format("woff"),
    url("../../fonts/haymaker-webfont.ttf") format("truetype"),
    url("../../fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "blanchcaps_inline";
  src: url("../../fonts/blanch_caps_inline-webfont.eot");
  src: url("../../fonts/blanch_caps_inline-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/blanch_caps_inline-webfont.woff") format("woff"),
    url("../../fonts/blanch_caps_inline-webfont.ttf") format("truetype"),
    url("../../fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */

  --blue: #20a8d8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f94f4f;
  --yellow: #f8cb00;
  --orange: #ffc107;
  --green: #4dbd74;
  --teal: #20c997;
  --cyan: #63c2de;
  --custom-background: #f1f0eb;

  --white: #fff;
  --gray-100: #f0f3f5;
  --gray-200: #c2cfd6;
  --gray-300: #a4b7c1;
  --gray-400: #869fac;
  --gray-500: #678898;
  --gray-600: #536c79;
  --gray-700: #3e515b;
  --gray-800: #29363d;
  --gray-900: #151b1e;
  --black: #000;
  --gold: #b5923e;

  --primary: #6f42c1;
  --secondary: #9a9b98e0;
  --info: #00b0ff;
  --success: #3ebb3c;
  --warning: #fbd82b;
  --danger: #dc2649;


  --custom: #0b109f;
  --default: #fff;
  --inverse: #292b2c;
  --fadded: #edecec;
  --muted: #999;
  --inherit: inherit;
  
  /* Utilities */

  --percent-25: 25%;
  --percent-50: 50%;
  --percent-75: 75%;
  --percent-100: 100%;

  --rem-0: 0;
  --rem-025: 0.25rem;
  --rem-050: 0.5rem;
  --rem-075: 0.75rem;
  --rem-1: 1rem;
  --rem-125: 1.25rem;
  --rem-150: 1.5rem;
  --rem-175: 1.75rem;
  --rem-2: 2rem;
  --rem-225: 2.25rem;
  --rem-250: 2.5rem;
  --rem-275: 2.75rem;
  --rem-3: 3rem;

  --padding-sm: 0.625rem;
  --padding-md: var(--padding-sm) * 2;
  --padding-lg: var(--padding-sm) * 3;

  --margin-sm: 0.5rem;
  --margin-md: var(--margin-sm) * 2;
  --margin-lg: var(--margin-sm) * 3;

  --height-sm: 6.25rem;
  --height-md: var(--height-sm) * 2;
  --height-lg: var(--height-sm) * 3;
  --height-max: 100%;

  --width-sm: 6.25rem;
  --width-md: var(--width-sm) * 2;
  --width-lg: var(--width-sm) * 3;
  --width-max: 100%;

  /* Typography */

  --primary-font: "Catamaran";
  --secondary-font: "Hind";
  --alternative-font: "Serif";
  --custom-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --blanch-font: "blanchcaps_inline", sans-serif;
  --haymaker-font: "haymakerregular", sans-serif;
  --lucida-console-font: "Lucida Console";

  --font-size-base: 0.875rem;
  --font-weight-base: 500;
  --line-height-base: 1.5;

  --xs-font-size: var(--rem-050);
  --sm-font-size: var(--rem-075);
  --md-font-size: var(--rem-1);
  --lg-font-size: var(--rem-2);
  --xl-font-size: var(--rem-3);
  --xl2-font-size: 4rem;
  --xl3-font-size: 5rem;
  --xl4-font-size: 6rem;
  --xl5-font-size: 7rem;

  --h1-font-size: var(--rem-250);
  --h2-font-size: var(--rem-175);
  --h3-font-size: var(--rem-150);
  --h4-font-size: var(--rem-125);
  --h5-font-size: var(--rem-1);
  --h6-font-size: var(--rem-075);
  
  /* Grid */

  --short-padding: 4.375rem;
  --long-padding: 73.75rem;
  --sm-size: 3.125rem;
  --md-size: 7.813rem;

  --offset-1: var(--col-1);
  --offset-2: var(--col-1) * 2;
  --offset-3: var(--col-1) * 3;
  --offset-4: var(--col-1) * 4;
  --offset-5: var(--col-1) * 5;
  --offset-6: var(--col-1) * 6;
  --offset-7: var(--col-1) * 7;
  --offset-8: var(--col-1) * 8;
  --offset-9: var(--col-1) * 9;
  --offset-10: var(--col-1) * 10;
  --offset-11: var(--col-1) * 11;
  --offset-12: var(--col-1) * 12;

  --col-1: var(--flex-1);
  --col-2: var(--flex-1) * 2;
  --col-3: var(--flex-1) * 3;
  --col-4: var(--flex-1) * 4;
  --col-5: var(--flex-1) * 5;
  --col-6: var(--flex-1) * 6;
  --col-7: var(--flex-1) * 7;
  --col-8: var(--flex-1) * 8;
  --col-9: var(--flex-1) * 9;
  --col-10: var(--flex-1) * 10;
  --col-11: var(--flex-1) * 11;
  --col-12: var(--flex-1) * 12;

  --flex-1: 8.2%;
  --flex-2: var(--flex-1) * 2;
  --flex-3: var(--flex-1) * 3;
  --flex-4: var(--flex-1) * 4;
  --flex-5: var(--flex-1) * 5;
  --flex-6: var(--flex-1) * 6;
  --flex-7: var(--flex-1) * 7;
  --flex-8: var(--flex-1) * 8;
  --flex-9: var(--flex-1) * 9;
  --flex-10: var(--flex-1) * 10;
  --flex-11: var(--flex-1) * 11;
  --flex-12: var(--flex-1) * 12;
  
  --padding-right-base: 10px;
  --padding-left-base: 10px;

  /* Media Queries */

  --container-sm-maxwidth: 33.75rem;
  --container-md-maxwidth: 45rem;
  --container-lg-maxwidth: 60rem;
  --container-xl-maxwidth: 87.5rem;
  --container-paddingX: 0.9375rem;

  --xs-media: 25rem;
  --xs-min-width: 576px;

  --sm-media: 37rem;
  --sm-min-width: 768px;
  
  --md-media: 48rem;
  --md-min-width: 992px;
  
  --lg-media: 62rem;
  --lg-min-width: 1200px;
  
  --xl-media: 75rem;
  --xl-min-width: 1200px;

  
  --icon-font-size-xl: var(--rem-3);
  --icon-font-size-lg: var(--rem-250);
  --icon-font-size-md: var(--rem-175);
  --icon-font-size-sm: var(--rem-125);
}

/* Needs bootstrap 4.3.1 */

.Ititle {
    font-weight: 650;
    font-family: var(--black);
    margin: 0;
    padding: 0;
  }
  
  
  .iconito {
    height: 80%;
    width: 15%
  }
  
  .bath-icon {
    height: 30%;
    width: 15%;
  }
  
  .flex-info {
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%
  }
  
  .space-between {
    display: flex;
    justify-content: space-between;
  
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .inmueble-details {
    display: flex;
    flex-direction: column;
    align-content: center
  }
  
  .AAcontainer {
    display: flex !important;
    flex-direction: flex-start !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
    text-align: center;
    margin: 0px 0px 0px 0px !important;
    margin-left: 0px !important;
    padding: none !important;
  }

  .details1 {
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%
  }
  
  .singleColumn {
    display: flex;
    flex-direction: column;
    margin-left: 30%
  }
  
  .details2 {
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .default-button {
    color: white;
    font-weight: 600;
    background-color: #0b109f;
    width: 100%;
    height: 40%;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
  }

  .row1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: var(--padding-right-base);
    margin-left: var(--padding-left-base);
    margin-top: 4%;
    columns: var(--flex-4);
    flex-direction: flex-start;
    width: 285px;
    background-color: #fff;
  }
  
  .col-sm {
    max-width: 350px;
  }

  .inmueble {
    width: 97%;
    padding-left: 3%;
    padding-top: 3%;
  }

  /* 

  Box structure.

  <div class="AAcontainer">
        <div class="col-sm">
          <div class="row1">
            <div class="flex-column">
            <img src="images/6_post.png" class="inmueble">
            <h3 class="Ititle">
                Townhouse en venta la lago
             </h3>
             </div>
            <div class="details1"> 
              <div class="space-between">
              <div class="flex-column">
                <div class="flex-info">
                  <img src="images/room-icon.png" class="iconito">
                  <h5>
                     Cuartos: 
                  </h5>
                  <h5 id="rooms-lenght">
                       5
                  </h5>
                </div>
                <div class="flex-info">
                  <img src="images/bath-icon.png" class="iconito">
                  <h5>
                    Baños:
                  </h5>
                  <h5 id="baths-lenght">
                      3
                  </h5>
                </div>
              </div>
              <div class="flex-column">
                <h5>
                  120 M2
                </h5>
                <h5>
                  306.000.000Bs
                </h5>

              </div>
                </div>
                <button class="default-button">
                  Detalles
                </button>
          </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="row1">
          <div class="flex-column">
          <img src="images/6_post.png" class="inmueble">
          <h3 class="Ititle">
              Apartamento en venta milagro norte
           </h3>
           </div>
          <div class="details1"> 
            <div class="space-between">
            <div class="flex-column">
              <div class="flex-info">
                <img src="images/room-icon.png" class="iconito">
                <h5>
                   Cuartos: 
                </h5>
                <h5 id="rooms-lenght">
                     3
                </h5>
              </div>
              <div class="flex-info">
                <img src="images/bath-icon.png" class="iconito">
                <h5>
                  Baños:
                </h5>
                <h5 id="baths-lenght">
                    2
                </h5>
              </div>
            </div>
            <div class="flex-column">
              <h5>
                120 M2
              </h5>
              <h5>
                1.306.000.000Bs
              </h5>

            </div>
              </div>
              <button class="default-button">
                Detalles
              </button>
        </div>
      </div>
  </div>

    <div class="col-sm">
        <div class="row1">
          <div class="flex-column">
          <img src="images/6_post.png" class="inmueble">
          <h3 class="Ititle">
              Terreno en venta la lago
           </h3>
           </div>
           <div class="details1">
           <div class="singleColumn">
              <h5>
                120 M2
              </h5>
              <h5>
                306.000.000Bs
              </h5>
            </div>
              <button class="default-button">
                Detalles
              </button>
              </div>
              </div>
  </div>

  <div class="col-sm">
      <div class="row1">
        <div class="flex-column">
        <img src="images/6_post.png" class="inmueble">
        <h3 class="Ititle">
            Local en alquiler fuerzas armadas
         </h3>
         </div>
         <div class="details1">
         <div class="singleColumn">
            <h5>
              120 M2
            </h5>
            <h5>
              306.000.000Bs
            </h5>
          </div>
            <button class="default-button">
              Detalles
            </button>
            </div>
            </div>
</div>
</div>

*/